@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: FadeIn 0.3s;
}
@keyframes IntroY {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  80% {
    transform: translateY(0);
  }

  100% {
    opacity: 1;
  }
}

.intro-y {
  animation: IntroY 0.5s forwards;
}

@keyframes IntroX {
  0% {
    opacity: 0;
    transform: translateX(-3rem);
  }

  80% {
    transform: translateX(0);
  }

  100% {
    opacity: 1;
  }
}

.intro-x {
  animation: IntroX 0.5s forwards;
}

@keyframes IntroZ {
  0% {
    opacity: 0;
    transform: translate(-3rem, 3rem);
  }

  80% {
    transform: translate(0);
  }

  100% {
    opacity: 1;
  }
}

.intro-z {
  animation: IntroZ 0.5s forwards;
}

@keyframes MoveInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
.moveInFromLeft {
  animation: MoveInFromLeft 0.5s forwards;
}
@keyframes MoveInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
.moveInFromRight {
  animation: MoveInFromRight 0.5s forwards;
}
@keyframes MoveOutFromLeft {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}
.moveOutFromLeft {
  animation: MoveOutFromLeft 0.5s forwards;
}
.customShadow {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.966),
    hsla(0, 0%, 100%, 0)
  );
}

.line::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  width: 100%;
  height: 4px;
  background: #3494e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ec6ead,
    #3494e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ec6ead,
    #3494e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card *::selection {
  background-color: transparent;
}
.card:hover .controlIcon {
  color: white;
  visibility: visible;
  display: block;
}

@media screen and (max-width: 640px) {
  .controlIcon {
    color: white;
    visibility: visible;
    display: block;
  }
}

body {
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}
html {
  height: -webkit-fill-available;
}
